@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProLight"; */
@font-face {
    font-family: "SourceSansProLight";
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
  font-family: "SourceSansProRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-image: -webkit-linear-gradient(#6400EE 0%, rgba(124,225,219,0.00) 300px);
  background-repeat: no-repeat;*/
  font-size: 22px;
  line-height: 35px;

}

.h1, .h2, .h3, h1, h2, h3 {
    margin: 0;
  }


h1 {
  font-family: "SourceSansProRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 56px;
  color: #111;
}

h2 {
  font-family: "SourceSansProRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    color: #111;
}

h6 {
  font-family: "SourceSansProRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

}

p {
  font-size: 22px;
  line-height: 35px;
}

a {
  color: #1BB3D7;
}

article {
  padding-top: 25px;
  padding-bottom: 25px;
}

screenshot {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}

img {
  box-shadow: 0 14px 38px 0 rgba(39,44,48,0.08), 0 3px 8px 0 rgba(39,44,48,0.12);
  margin: 0 auto;
}

.row {
  margin-top: 50px;
}
